@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acces interzis";
}

<h3 class="mt-4 text-danger">@ViewBag.Title</h3>
<hr />
<p class="text-danger">Nu aveți permisiunea de a accesa această pagină.</p>
