
@{
    ViewBag.Title = "Listă categorii";
}
<h3>@ViewBag.Title</h3>
<hr />

<a class="btn btn-primary" href="/Categories/New">Adaugă categorie</a>
<br />
<br />

<div class="bg-white bg-opacity-75 rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nume categorie</th>
                <th scope="col">Acțiune</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in @ViewBag.Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.CategoryName</td>
                    <td>
                        <a class="btn btn-info" href="/Categories/Edit/@category.Id">Editează</a>
                        <a class="btn btn-danger" href="/Categories/Delete/@category.Id">Șterge</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

