
@{
    ViewBag.Title = "Lista categorii";
}
<h2>@ViewBag.Title</h2>
<hr />
<a class="btn btn-primary" href="/Categories/New">Adaugă categorie</a>
<br />
<br />
<style>
    a, form {
        display: inline-block;
    }
</style>

@foreach (var category in ViewBag.Categories)
{
    <h4>@category.CategoryName</h4>
    <a class="btn alert-primary" href="/Categories/Edit/@category.Id">Editează categoria</a>
    <form method="post" action="/Categories/Delete/@category.Id">
        <button class="btn btn-danger" type="submit">Șterge categoria</button>
    </form>
    <br />
    <br />
}

