html {
  box-sizing: border-box;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgba(253, 241, 184, 0.3);
}